/* selector universal */ 
*{
    padding: 0 auto; 
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';

}

/* selecto ID */ 
#contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
}
#encabezado{
    width: 100%;
    height: 350px;
    color: #fff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    font-size: 45px;
    margin-bottom: 60px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(92, 42%, 65%, 0.776), hsla(207, 100%, 25%, 0.679)), url(../img/Port.jpg); 
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(92, 42%, 65%, 0.776), hsla(207, 100%, 25%, 0.679)), url(../img/Port.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}
.textos-header h1{
    position: center;
    font-size: 50px;
    color: #fff;

}
.textos-header h2{
    position: center;
    font-size: 30px;
    font-weight: 300;  /*mas ligero*/
    color: #fff;
}


#menu{
    height: 5%;
    background-color: #fff;
    margin-right: 10px;
    margin: 1em auto;

}
#contenido {
    height: 70%;
    width: 61%;
    max-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    float: left;

}
#fueraSeccion{
    height: 50%;
    width: 36%;
    background-color: #fff;
    margin: 0.5em;
    float: right;

}
#pie{
    text-align: center;
    justify-content: center;
    height: 5%;
    color: rgb(1, 70, 99);
    background-color: #fff;
    border-radius: 1em;
    margin: 1.5em;
}
/* selector de clase */ 
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 25px;
    margin-right: 20px;
    padding-top: 10px;
    color: rgb(7, 7, 55);

}
.encabezado_fuera{
    text-align: center;
    color: rgb(1, 70, 99);
}
.encabezado_articulo{
    text-align: center;
    background-color: rgb(0, 47, 167);
    color: white;
    margin: auto 2em;
    font-size: 25px;
    border-radius: 20px;
}
.imagenes {
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.imagenes2{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*selector de etiqueta */
ul{

    text-align: center;
    color: #fff;

}
li{
    color: rgb(74, 148, 245);
    font-weight: 300;
    text-decoration: none;
    display: inline;
    margin-right: 80px;
    text-align: center;

}
